# Managed by ansible roles/thinkpad_tuning
CHARGE_START={{ thinkpad_tuning_charge_start }}
CHARGE_STOP={{ thinkpad_tuning_charge_stop }}
PROFILE_AC={{ thinkpad_tuning_profile_ac }}
PROFILE_BATTERY={{ thinkpad_tuning_profile_battery }}
