[defaults]
inventory = inventory/local.yml
roles_path = roles
interpreter_python = auto_silent
retry_files_enabled = False
host_key_checking = True
nocows = True

[privilege_escalation]
become = False
become_ask_pass = False
